* {
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
}

.header {
  height: 10vh;
  background-color: rgb(53, 165, 218);
}

.home {
  padding-top: 30px;
  padding-bottom: 20px;
  color: black;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
}

.white-card {
  margin: auto;
  padding: 10px;
  height: 45vh;
  width: 75vw;
  background-color: rgb(235, 235, 235);
  margin-bottom: 5px;
  margin-top: 50px;
  
}

.contents {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;
  text-align: left;
}

.count {
  text-align: right;
  font-size: 30px;
  font-weight: bolder;
}
.name {
  font-weight: bolder;
  font-size: 35px;
  text-decoration: underline solid rgb(53, 165, 218); 
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 50px;
  
}
h4 {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
span {
  font-weight: normal;
  font-size: 20px;
}
li {
  font-weight: normal;
}

.employer {
  margin-bottom: 25px;
}

.next {
  position: absolute;
  right: 130px;
}

.prev {
  position: absolute;
  left: 130px;
}

button {
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: aliceblue;
  background-color: rgb(34, 34, 34);
  border: none
}




